#header {
    height: 100px;
    border-bottom: 1px solid var(--pc);
    box-sizing: border-box;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_wrap h1 {
    line-height: 100px;
}

.header_wrap .gnb>ul {
    display: flex;
    gap: 60px;
}

.header_wrap .gnb>ul>li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
}

@media (max-width : 768px) {
    #header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 100px;
        background: var(--wc);
    }

    .header_wrap h1 {
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    .gnb {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        z-index: 999;
        width: calc(100% - 100px);
        height: 100vh;

        background: #fff;
        border-right: 1px solid var(--pc);
    }

    .gnb.on {
        left: 0;
    }

    .header_wrap .gnb>ul {
        flex-direction: column;
        color: #fff;
        padding: 200px 0 0 15px;
        gap: 30px;
    }

    .header_wrap .gnb>ul>li {
        border-bottom: 1px solid var(--tc);

    }

    .header_wrap .gnb>ul>li a {
        line-height: 42px;
        color: var(--dc);
    }

    .gnb>ul>li>a {}

    #header {
        display: flex;
        align-items: center;
    }

    #header .mopen {
        display: block;

    }
}

/* mainvisual--------------------------------------------------------------- */

.visual_wrap {
    width: 100%;
    height: 600px;
}

.visual_wrap .desc {
    display: none;
}


.queik {
    display: flex;
    margin: -30px auto 0 auto;
    transform: translate(0, 0);
}

.qieck_title {
    flex: 1;
    color: #fff;
    background: var(--pc);
}

.qieck_title h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 99px;

    text-align: center;
    user-select: none;
    white-space: nowrap;
}

/* 2024-02-01 */
#queik_if {
    flex: 4;
    display: flex;
    justify-content: space-between;
    padding: 23px 44px 23px 18px;
    align-items: center;
    background: var(--lc);
}

#queik_if>* {}

#queik_if label {
    padding: 13px 26px;
    background: #fff;
    border: 1px solid var(--pc)
}

#queik_if label>* {
    outline: none;
    border: none;
    background: transparent;
    height: 25px;
    font-size: 14px;
}

#queik_if label:nth-child(1) {
    border: none;
    background: transparent;
}

#queik_if label:nth-child(1)>* {
    height: 16px;
    vertical-align: middle;
    margin: 0 8px 0 0;
    white-space: nowrap;
    user-select: none;
}

#queik_if label:nth-child(1),
#queik_if label:nth-child(5) {
    cursor: pointer;
}

#queik_if label:nth-child(2),
#queik_if label:nth-child(4) {
    width: 250px;
}

#queik_if label:nth-child(3)>input {
    width: 100px;
}

/* #queik_if input[type="checkbox"]:checked {} */

#queik_if #textarea {
    resize: none;
    width: 100%;
    height: 22px;
    font-size: 13px;

}

#queik_if input[type="submit"] {
    cursor: pointer;
    color: var(--wc);

}

#queik_if label:nth-child(5) {
    background: var(--sc);
    border: 1px solid var(--sc);
}

#queik_if label:nth-child(5):hover {
    background: var(--pc);
}


@media (max-width : 1320px) {
    .queik {
        flex-direction: column;
        margin: -80px auto 0 auto;
    }

    .qieck_title h3 {
        line-height: 60px;
    }
}

@media (max-width : 1100px) {
    .queik {
        margin: -40px auto 0 auto;
    }

    #queik_if {
        display: grid;
        grid-template-columns: repeat(3, max-width);
        gap: 30px;
        grid-template-areas:
            "b b c c d d"
            "a a a e e e";
        justify-content: center;

        padding: 23px 0;
    }

    #queik_if input[type="text"],
    #queik_if #textarea {
        font-size: 18px;
    }

    #queik_if label:first-child {
        order: 1;
    }

    #queik_if label:last-child {
        order: 2;
    }

    #queik_if label:nth-child(1) {
        grid-area: a;
        justify-self: end;
    }

    #queik_if input[type="checkbox"] {
        width: 30px;
        height: 30px;
    }

    #queik_if input[type="submit"] {
        font-size: 20px;
    }

    #queik_if span {
        font-size: 18px;
    }

    #queik_if label:nth-child(2) {
        grid-area: b;
    }

    #queik_if label:nth-child(3) {
        grid-area: c;
    }

    #queik_if label:nth-child(4) {
        grid-area: d;
    }

    #queik_if label:nth-child(5) {
        grid-area: e;
        text-align: center;
        width: 250px;
    }

}

@media (max-width : 768px) {
    .visual_wrap {
        display: none;
    }

    .queik {
        padding: 0 0 100px 0;
        margin: 0 auto 0 auto;
    }

    .queik::before {
        content: "";
        display: block;
        background: url(../images/main_introduce05.jpg) no-repeat center center/cover;
        height: 350px;
    }

    #queik_if {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, min-width);
        gap: 15px;
        grid-template-areas:
            "b b"
            "c c"
            "d d"
            "a a"
            "e e";
        justify-content: center;

        padding: 30px 0 60px 0;

    }

    #queik_if::after {
        content: "\e7cd";
        font-family: material symbols outlined;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        color: var(--sc);
        font-size: 30px;
    }

    #queik_if label:nth-child(1) {
        margin: 0 auto;
        width: 100%;
    }

    #queik_if label:nth-child(1)>input {
        margin: 0 10px 0 8px;
    }

    #queik_if input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    #queik_if input {}
}


/* main_clinic--------------------------------------------------------------- */
.clinic_wrap {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.clinic_wrap .itm .icon {
    display: block;
    margin: 0 0 16px 0;
    padding: 32px;
    border: 2px solid var(--pc);
    border-radius: 50%;
    color: var(--dc);
    font-size: 60px;

    font-weight: 300;
}

.clinic_wrap .itm p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}


@media (max-width : 1100px) {
    .clinic_wrap {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        gap: 30px 60px;
        /* min-content */
        /* align-self: flex-start; */
        /* max-width: 0; */
    }

    .clinic_wrap .itm {
        display: block;
        text-align: center;
    }

    .clinic_wrap .itm .icon {
        display: inline-block;
    }
}

@media (max-width : 520px) {
    .clinic_wrap {
        grid-template-columns: repeat(2, min-content);
    }

    .clinic_wrap .itm p {
        font-size: 16px;
        font-weight: 600;
    }
}

/* main_banner--------------------------------------------------------------- */

.main_banner {
    position: relative;
    background: #f9f9f9
}

.main_banner .title h2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 0 0 40px 0;
}

.main_banner .title p {
    line-height: 24px;
}

.main_banner .title h2 span::before {
    content: "";
    display: block;
    margin: 0 auto 16px auto;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--pc);
}

.banner_wrap {
    position: relative;
}

.banner_wrap .img_box {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
}

.banner_wrap .img_box01 img {
    transform: scaleX(-1);
    height: 200px;
    vertical-align: -200px;
}

.banner_wrap .img_box02 img {
    height: 80px;
    vertical-align: -200px
}

@media(max-width:1200px) {
    .banner_wrap .img_box01 img {
        height: 15vh;
    }
}

@media(max-width:768px) {
    .banner_wrap .img_box01 img {
        height: 12vh;
    }

    .main_banner .title h2 {
        font-weight: 600;
    }
}

/* main_signature--------------------------------------------------------------- */

.main_signature {
    background: var(--tc);
    background: linear-gradient(var(--tc)60%, var(--wc)40%);
}

.signature_wrap {
    display: flex;
    gap: 30px;
}

.signature_wrap>* {
    flex: 1;
}

.signature_wrap .itm .img_area {
    margin: 0 0 32px 0;
    font-size: 0;
    height: 400px;
}

.signature_wrap .itm01 .img_area {
    background: url(../images/main_clinic01.jpg) no-repeat top center/cover;
}

.signature_wrap .itm02 .img_area {
    background: url(../images/main_clinic02.jpg) no-repeat top center/cover;

}

.signature_wrap .itm03 .img_area {
    background: url(../images/main_clinic03.jpg) no-repeat top center/cover;
}

.signature_wrap .itm .txt {
    text-align: center;
}

.signature_wrap .itm .txt strong {
    display: block;
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 700;
    word-break: keep-all;
}

.signature_wrap .itm .txt p {
    font-size: 16px;
    line-height: 20px;
    word-break: keep-all;
}


@media(max-width:768px) {
    .signature_wrap {
        display: flex;
        gap: 30px;
        /* r */
        flex-direction: column;
    }

    .signature_wrap .itm {
        display: flex;
        gap: 15px;
    }

    .signature_wrap .itm>* {
        flex: 1;
    }

    .signature_wrap .itm .img_area {
        height: 200px;
    }

    .signature_wrap .itm02 .img_area {
        order: 1;
    }

    .main_signature {
        background: var(--tc);
        background: linear-gradient(0.1turn, var(--wc), var(--wc), var(--tc));
    }
}

@media(max-width:768px) {
    .signature_wrap .itm {
        display: flex;
        gap: 15px;

        flex-direction: column;
    }

    .signature_wrap .itm .img_area {
        width: 350px;
        margin: 0 auto;
        min-height: 200px;
        border-radius: 50%;
    }

    .signature_wrap .itm02 .img_area {
        order: 0;
    }

    .signature_wrap .itm .txt strong {
        display: block;
        font-size: 24px;
        font-weight: 700;
        word-break: keep-all;

        margin: 0 0 8px 0;
        font-size: 5vw;
        font-weight: 600;
    }

    .signature_wrap .itm .txt p {
        font-size: 16px;
        line-height: 20px;
        word-break: keep-all;
    }
}

/* main_speical--------------------------------------------------------------- */
.speical_wrap {}

.bg_box {
    display: flex;
    background: rgba(225, 240, 241, 0.5);
}

.bg_box>* {
    flex: 1;
}

.speical_wrap .title_area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.speical_wrap .title_area .title {
    text-align: left;
    margin: 0 0 0 0;
}

.speical_wrap .title_area .title h2 {
    margin: 0 0 0 0;
}

.speical_wrap .title_area ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.speical_wrap .title_area ul>li::before {
    content: "";
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--sc);
}

.speical_wrap .img_area {
    background: url(../images/main_introduce05.jpg)no-repeat center center/cover;
    height: 400px;
}

@media (max-width : 1000px) {
    .speical_wrap .title_area {
        flex-direction: column;
    }

    .speical_wrap .title_area ul {}

    .speical_wrap .title_area ul>li {
        font-size: 18px;
    }

}

@media (max-width : 768px) {
    .bg_box {
        background: url(../images/main_introduce05.jpg)no-repeat center center/cover;
        height: 400px;
    }

    .speical_wrap .title_area {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        color: var(--wc);
    }

    .speical_wrap .title_area::after {
        content: "";
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        border: 1px solid var(--wc);
    }

    .speical_wrap .title_area::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0 0 0 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .speical_wrap .title_area .title {
        text-align: left;
        margin: 0 0 0 0;
    }

    .speical_wrap .title_area .title h2 {
        margin: 0 0 0 0;
    }

    .speical_wrap .title_area ul {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .speical_wrap .title_area ul>li::before {
        content: "";
        display: inline-block;
        margin: 0 15px 0 0;
        vertical-align: middle;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--sc);
    }

    .speical_wrap .img_area {
        display: none;
    }
}

/* main_introduce--------------------------------------------------------------- */
.main_introduce {
    position: relative;
}

.main_introduce .title {
    text-align: left;
    margin: 0 auto 36px auto;
}

.main_introduce .title p {
    line-height: 24px;
}

.in {
    overflow: hidden;

}

.introduce_side {
    margin: 0 -15px;
}

.introduce_side .itm {
    margin: 0 15px;
}

.slick-track {
    margin: 0 0 24px 0;
}

.introduce_side {
    position: relative;
}

.introduce_side .slick-dots {
    text-align: center;
}

.introduce_side .slick-dots>li {
    display: inline-block;
    margin: 0 8px;
}

.introduce_side .slick-dots>li button {
    outline: none;
    background: transparent;
    border: none;
    font-size: 0;

    width: 8px;
    height: 8px;
    background: var(--tc);
}

.introduce_side .slick-dots>li.slick-active button {
    background: var(--pc);
}

.main_introduce .arrow {
    position: absolute;
    bottom: 104px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.main_introduce .arrow .icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 999;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    color: #bbb;
}

.main_introduce .arrow .left {
    left: -130px;
}

.main_introduce .arrow .right {
    right: -130px;
}

/* main_comunity--------------------------------------------------------------- */

.comunity_wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "b b b b b b a a a a a a"
        "c c c c d d d d e e e e";
    gap: 30px;
}

.comunity_wrap #map {
    width: 100%;

}

.comunity_wrap .map {
    grid-area: a;
}

.comunity_wrap .map .wrap_controllers {
    display: none;
}

.comunity_wrap .adress {
    position: relative;
    grid-area: b;
}

.comunity_wrap .adress::after {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    width: 250px;
    height: 250px;
    z-index: -1;
    border-radius: 50%;
    background: var(--tc);
}

.comunity_wrap .notice {
    grid-area: c;
}


.comunity_wrap .latterly {
    grid-area: d;
}

.comunity_wrap .news {
    grid-area: e;
}

.comunity_wrap .itm::before {
    content: "";
    display: block;
    margin: 0 0 8px 0;
    width: 30px;
    height: 2px;
    background: var(--pc);
}

.adress>ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.adress>ul>li {
    display: flex;
    gap: 30px;
}

.adress>ul>li span {
    flex: 0 0 150px;
    font-size: 20px;
    font-weight: 500;
}

.adress>ul>li strong {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;

}

.adress>ul>li .txt {
    line-height: 20px;
}

.adress>ul>li .call {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.adress>ul>li p {
    line-height: 24px;
}

tr {
    gap: 0 0 5px 0;
    white-space: nowrap;
}

th {
    padding: 0 50px 0 0;
    line-height: 24px;
    font-weight: 500;
    white-space: nowrap;
}

tr:nth-child(5) th {
    font-weight: 700;
}

tr:nth-child(5) td {
    text-indent: 1px;
    font-weight: 700;
}

.notice .box {}

.comunity_wrap .sub_title {
    margin: 0 0 16px 0;
}

.comunity_wrap .sub_title h3 {
    position: relative;
    display: block;
    margin: 0 0 8px 0;
}

.comunity_wrap .sub_title strong {
    font-size: 24px;
    font-weight: 600;
    margin: 0 15px 0 0;
}

.comunity_wrap .sub_title p {
    font-size: 14px;
    word-break: keep-all;
}

.comunity_wrap .sub_title .more_btn span {
    font-size: 14px;
    vertical-align: middle;
    color: #bbb;
}


@media (max-width : 1100px) {
    .comunity_wrap {
        grid-template-areas:
            "b b b b b b b a a a a a"
            "c c c c d d d d e e e e";
    }
}

@media (max-width : 920px) {
    /* .comunity_wrap {
        position: relative;

        grid-template-areas:
            "a a a a a a a a a a a a"
            "c c c c d d d d e e e e";
        gap: 60px 30px;
    }

    .comunity_wrap .adress {
        position: absolute;
        top: 0;
        left: 15px;
        z-index: 999;
        padding: 32px 16px;
        background: rgba(0, 0, 0, 0.8);
        color: var(--wc);
    }

    .comunity_wrap .adress::after {
        display: none;
    }

    .adress>ul>li {
        gap: 0;
    }

    .adress>ul>li .txt {
        word-break: keep-all;
        white-space: wrap;
    }

    tr {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    th {
        padding: 0 24px 0 0;
    }

    .map,
    #daumRoughmapContainer1706662597860 {
        height: 500px !important;
    } */

    .comunity_wrap {
        grid-template-areas:
            ". . b b b b b b b b . ."
            "c c c c d d d d e e e e";
        gap: 60px 30px;
    }

    #map {
        display: none;
    }
}

@media (max-width : 630px) {
    .comunity_wrap {
        grid-template-areas:
            ". . b b b b b b b b . ."
            "c c c c d d d d e e e e";
        gap: 60px 30px;
    }

    .adress>ul>li span {
        flex: 0 0 20vw;
        font-size: 4vw;
    }

    .adress>ul>li strong {
        font-size: 3vw;
    }

    tr {
        font-size: 3vw;
    }

    th {
        padding: 0 20px 0 0;
        line-height: 3vw;
    }
}

@media (max-width : 630px) {
    .comunity_wrap {
        grid-template-areas:
            ". . b b b b b b b b . ."
            "c c c c d d d d e e e e";
        gap: 60px 30px;
    }
}

/* footer--------------------------------------------------------------- */

.footer {
    background: #f9f9f9;
    padding: 50px 0 70px 0;
}

.footer_wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.footer_wrap ul {
    display: flex;
    gap: 30px;
}

.footer_wrap ul li a strong {
    font-weight: 700;
    color: var(--pc);
}